---
import SectionLink from '../SectionLink.astro';
export interface Props {
	content: any;
	xlColSize?: number;
  	colSize?: number;

}

const { content, xlColSize=4, colSize=2 } = Astro.props;
---

<section class="my-20">
	<h2 class="font-extrabold text-3xl inline me-1">{content.title}<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">{content.description}</small></h2>
	<hr class="h-px my-4 bg-indigo-200 border-0 dark:bg-indigo-400" />

	<div class=`grid grid-cols-${colSize} md:grid-cols-${xlColSize} gap-2 md:gap-4`>
		{content.data.map((item: any) => (
			<SectionLink {...item} />
		))}
</section>