---
import Title from './Title.astro';

export interface Props {
    content: any;
}

const { content } = Astro.props;
const stringified = JSON.stringify(content.data);
---

<section class="my-20">
    <Title title={content.title} description={content.description} />

    
    <div class='rounded-md overflow-hidden'>
        <input type="hidden" data-message={stringified} />
        <div id="map" class="w-full h-80"></div>
    </div>
</section>
<script src="../../utilities/googleMaps.ts"></script>