---
import mfo_picture from '../../assets/images/mfo_picture.jpg';
import { Image } from '@astrojs/image/components';
import { general } from '../../assets/data/db.json';
import Tags from './Tags.astro';
---

<header class="mb-10
	overflow-hidden 
	before:absolute before:top-0 before:left-1/2 
    before:bg-[url('/assets/images/polygon.svg')] 
	before:bg-no-repeat before:bg-top before:bg-cover before:bg-scroll
	before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 
	dark:before:bg-[url('/assets/images/polygon-dark.svg')]
    ">

    <div class="flex flex-col items-center justify-center text-center md:justify-start md:text-start md:align-bottom mb-10 md:flex-row">
        <Image class="rounded w-24 h-24 me-3" src={mfo_picture} alt="Mohannad Otaibi Picture" format="webp" />
        <div class="title">
            <h1 class="text-4xl md:text-5xl font-extrabold m-0 mb-2">Mohannad Faihan <span class="bg-gradient-to-tl from-cyan-300 to-blue-700 text-transparent bg-clip-text">(Dalbahi)</span> Otaibi</h1>
            <p class="text-slate-500 dark:text-slate-400">{general.bio}</p>
            <p class="text-slate-500 dark:text-slate-400">{general.hashtags}</p>
        </div>
    </div>

    <Tags tags={general.social_links.data} />
    

    <div class="lead mt-10">
        <p class="text-lg font-normal text-gray-500 lg:text-xl  dark:text-gray-400">
            Welcome to my <b>simple</b> <b>humble</b> website..<br />
            Here, you may get to know me a little bit better by knowing the <code class="text-base">things</code> I use, languages I speak, things I do or enjoy..
        </p>
    </div>
</header>