---
export interface Props {
	title: string;
	url: string;
  faviconUrl?: string;
}

const { title, url } = Astro.props;

---
<a href={url} class="mr-2">
    <span class="
      bg-yellow-600
      text-gray-100 
      dark:bg-yellow-200 
      dark:text-gray-600
      hover:bg-yellow-500
        dark:hover:bg-yellow-300
      text-md 
      font-medium 
      inline-flex 
      items-center 
      px-4 
      py-0.5 
      rounded
      group">
      <div class="inline-flex items-center">
      </div>
      {title}
    </span>
</a>