---

---
<header class="mb-10">
    <h1 class="text-5xl font-extrabold m-0 mb-2">Mohannad Faihan <span class="bg-gradient-to-r from-cyan-300 to-blue-700 text-transparent bg-clip-text">(Dalbahi)</span> Otaibi</h1>
    <p class="text-slate-400">The Geek you wanna talk to about technology and stuff.. I code and I'm in looove with change..!</p>
    <p>#Saudi, #xKFUPMer, #Comبuتer_geeك, #MsLkjy, #M5_wAjD_5rBaN, #ENFJ, #Married, #Father, #8ies, #Tabs-Team</p>
</header>