---
import SectionLink from './SectionLink.astro';
export interface Props {
	content: any;
}

const { content } = Astro.props;
---

<section class="my-20">
	<h2 class="font-extrabold text-2xl inline me-1">{content.title}</h2>
	<p class="text-gray-400 inline">{content.description}</p>
	<hr class="my-4 border-indigo-400" />
	<div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
		{content.data.map((item: any) => (
			<SectionLink {...item} />
		))}
</section>