---
import Contact from "./Contact.astro";
import { general } from '../../assets/data/db.json';
import { Icon } from 'astro-icon'


---
<Contact />

<footer>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <p class="dark:text-slate-400 text-slate-600 text-sm mb-2">Like something you see? Whatsapp me or send me an email and I will get back to you as soon as possible!</p>
    <div class="text-slate-600 mb-2">
        <a class="hover:text-slate-400" title="Mohannad Whatsapp" href=`https://wa.me/${general.phone}`><Icon class="inline-block h-6 lg:h-8" name="ri:whatsapp-fill" /></a>
        <a class="hover:text-slate-400" title="Mohannad Email" href=`mailto:${general.email}`><Icon class="inline-block h-6 lg:h-8" name="ic:baseline-email" /></a>
    </div>
    <h1 class="text-sm font-bold mb-2">Copyright © 2023 - Mohannad Faihan <span class="bg-gradient-to-r from-cyan-300 to-blue-700 text-transparent bg-clip-text">(Dalbahi)</span> Otaibi</h1>
    <p class="dark:text-slate-400 text-slate-600 text-sm mb-2">{general.hashtags}</p>
    <p class="text-sm dark:text-slate-400 text-slate-600">
        Powered By <a title="Github Pages" class="font-bold" href="https://pages.github.com/">GitHub</a> and <a title="Astro Build" class="font-bold" href="https://astro.build">Astro</a></p>
</footer>
